"# Python__pycache__/*.py[cod]*$py.class*.so# Django*.sqlite3*.dbdb.sqlite3# Environments.env.venvenv/venv/ENV/env.bak/venv.bak/# IDE.vscode/.idea/*.swp*.swo# OS.DS_Store.DS_Store?._*.Spotlight-V100.Trashesehthumbs.dbThumbs.db" 
